spring:
  config:
    import: optional:file:.env[.properties]  # .env
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  jwt:
    secret: ${JWT_SECRET}
  servlet:
    multipart:
      enabled: true
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

bootpay:
  key: ${BOOTPAY_PRIVATE_KEY}
  appid: ${BOOTPAY_APPID}